.movie-detail {
  margin: 0px auto 100px;
  padding: 0 20px;
}

.movie-detail .movie-detail__title {
  margin-top: 0px;
}

.movie-detail__desc {
  margin: 2em 0;
}

@media (min-width: 800px) {
  .movie-detail {
    width: 50%;
  }
}
