.movie-detail {
  margin: 0px auto 100px;
  padding: 0 20px;
}

.movie-detail .movie-detail__title {
  margin-top: 20px;
}

.movie-detail__desc {
  margin: 2em 0;
}

@media (min-width: 800px) {
  .movie-detail {
    width: 70%;
  }
}

.detail-back-link {
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.movie-detail__list-btn {
  margin: 0 0 20px;
}

.movie-detail__list-btn-2 {
  margin: 20px 0 20px;
}

.movie-detail__meta {
  margin: 20px 0 10px;
}

.text-left {
  text-align: left;
  padding: 0 2em;
}
