.movie-list {
  display: grid;
  grid-template-columns: 100%;
  margin: 0px 0 50px;
}

.movie-list__filter-card,
.movie-list__title-card {
  margin: 0 1em 1em;
}

.movie-list__title-card-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-list__title-card .movie-list__title-card-content {
  background: #9c27b0;
  h1 {
    color: white;
  }
}

.movie-item {
  padding: 20px 0;

  .movie-item__poster {
    width: 80%;
    max-width: 500px;
  }
}

.movie-item {
  padding: 0 0 20px 0;
  position: relative;
  .movie-item__poster {
    width: 100%;
  }

  .movie-item__add-btn {
    position: absolute;
    margin-top: -20px;
    width: 100%;
  }

  .movie-item__poster-overlay {
  }
}

.movie-item__title {
  // font-family: "Cinzel", "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 500;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }
}

.movie-item__desc {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  display: none;
}

@media (min-width: 600px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    grid-auto-columns: auto;
    padding: 0 0 20px;
  }
}

@media (min-width: 800px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .movie-item__desc {
    display: inherit;
  }
}

/*Desktop Overrides*/
@media (min-width: 1400px) {
  .movie-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1700px) {
  .movie-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
