@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato|Material+Icons");

body {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  background: #fff;
  color: #474747;
  margin: 0;
  padding: 80px 0 0;
}

select {
  height: 2em;
  padding: 0 1em;
  margin: 0 1em;
}

.movie-list-filters {
  margin: 1em 0;
  text-align: center;
}

img {
  max-width: 100%;
}

.site-content {
  text-align: center;
}
