@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Roboto:300,400,500|Material+Icons");

body {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  background: #fff;
  color: #474747;
  margin: 0;
  padding: 56px 0 0;
}

@media (min-width: 768px) {
  body {
    padding: 65px 0 0;
  }
}

.movie-list-filters {
  margin: 1em 0;
  text-align: center;
}

img {
  max-width: 100%;
}

.site-content {
  text-align: center;
  background: url(./images/backslant-home-top.svg) no-repeat 50% 0;
  background-size: 100%;
  padding: 50px 0 0;
}

h1.main-title {
  font-family: "Cinzel", "Times New Roman", Arial, serif;
}

.color-white {
  color: White;
}
