@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato");

body {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  text-align: center;
  background: #fff;
  color: #474747;
}

select {
  height: 2em;
  padding: 0 1em;
  margin: 0 1em;
}

.movie-list-filters {
  margin: 1em 0;
}

img {
  max-width: 100%;
}